# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\eladmin-plus\vacation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
